<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Météo</title>
  </head>
  <body>
    <form action="/resultat.html" method="GET">
      <input
        id="search"
        type="text"
        name="ville"
        placeholder="Cherchez une ville"
      />
      <button id="search_button" type="submit">Go</button>
    </form>
    <h1>Voici les données météorologiques de <b><%= ville%></b></h1>
    <p>Température : <%= temperature%>°C</p>
    <p>Résumé : <%= resume%></p>
  </body>
</html>
